@using System.Web.Mvc.Html
@model IEnumerable<SitecoreLibrary.Models.BooksWithAuthor>

<h2>LIST OF BOOKS</h2>

<p>
    @Html.ActionLink("Add New Book", "AddBookWithAuthor")
</p>

@{
    var bookFilterList = new List<string> {"All books", "Available books", "Taken books" } as IEnumerable<string>;
}

@using (Ajax.BeginForm("GetAllBookAuthorDetails", "BookWithAuthor", new AjaxOptions
{
    HttpMethod = "Get",
    UpdateTargetId = "SearchResults",
    InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace
}))
{
    <div class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            @Html.DropDownList("SelectList", new SelectList(bookFilterList), "Select books plan", new { onchange = "$(this.form).submit();" })
    </div>
}

@Html.Partial("_BooksWithAuthorsTable")


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>